# Python bytecode / cache
__pycache__/
*.py[cod]
*$py.class

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

data/*.npy